In [2]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import matplotlib.pyplot as plt

# Replace '../Folder1/your_file.csv' with the actual path to your CSV file
data = pd.read_csv('Data_Files/owid-covid-data.csv')

# Display the first few rows of the DataFrame
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336078 entries, 0 to 336077
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    336078 non-null  object
 1   continent                                   320099 non-null  object
 2   location                                    336078 non-null  object
 3   date                                        336078 non-null  object
 4   total_cases                                 298424 non-null  float64
 5   new_cases                                   326839 non-null  float64
 6   new_cases_smoothed                          325576 non-null  float64
 7   total_deaths                                277172 non-null  float64
 8   new_deaths                                  326894 non-null  float64
 9   new_deaths_smoothed                         325664 non-null  float64
 10  total_cases_per_million                     298424 non-null  float64
 11  new_cases_per_million                       326839 non-null  float64
 12  new_cases_smoothed_per_million              325576 non-null  float64
 13  total_deaths_per_million                    277172 non-null  float64
 14  new_deaths_per_million                      326894 non-null  float64
 15  new_deaths_smoothed_per_million             325664 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                37235 non-null   float64
 18  icu_patients_per_million                    37235 non-null   float64
 19  hosp_patients                               38295 non-null   float64
 20  hosp_patients_per_million                   38295 non-null   float64
 21  weekly_icu_admissions                       10002 non-null   float64
 22  weekly_icu_admissions_per_million           10002 non-null   float64
 23  weekly_hosp_admissions                      22826 non-null   float64
 24  weekly_hosp_admissions_per_million          22826 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          78102 non-null   float64
 35  people_vaccinated                           74770 non-null   float64
 36  people_fully_vaccinated                     71353 non-null   float64
 37  total_boosters                              46446 non-null   float64
 38  new_vaccinations                            64271 non-null   float64
 39  new_vaccinations_smoothed                   177074 non-null  float64
 40  total_vaccinations_per_hundred              78102 non-null   float64
 41  people_vaccinated_per_hundred               74770 non-null   float64
 42  people_fully_vaccinated_per_hundred         71353 non-null   float64
 43  total_boosters_per_hundred                  46446 non-null   float64
 44  new_vaccinations_smoothed_per_million       177074 non-null  float64
 45  new_people_vaccinated_smoothed              176828 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  176828 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          285221 non-null  float64
 49  median_age                                  265271 non-null  float64
 50  aged_65_older                               255983 non-null  float64
 51  aged_70_older                               262613 non-null  float64
 52  gdp_per_capita                              259968 non-null  float64
 53  extreme_poverty                             167494 non-null  float64
 54  cardiovasc_death_rate                       260519 non-null  float64
 55  diabetes_prevalence                         273794 non-null  float64
 56  female_smokers                              195414 non-null  float64
 57  male_smokers                                192756 non-null  float64
 58  handwashing_facilities                      127604 non-null  float64
 59  hospital_beds_per_thousand                  229968 non-null  float64
 60  life_expectancy                             309128 non-null  float64
 61  human_development_index                     252529 non-null  float64
 62  population                                  336078 non-null  float64
 63  excess_mortality_cumulative_absolute        11656 non-null   float64
 64  excess_mortality_cumulative                 11656 non-null   float64
 65  excess_mortality                            11656 non-null   float64
 66  excess_mortality_cumulative_per_million     11656 non-null   float64
dtypes: float64(62), object(5)
memory usage: 171.8+ MB

In [4]:
# Assume 'data' is your DataFrame
covid19_data = data[['iso_code', 'location', 'date', 'total_cases',
                        'new_cases', 'total_deaths', 'new_deaths', 'total_cases_per_million', 'new_cases_per_million', 'total_deaths_per_million', 'new_deaths_per_million',
                         'icu_patients_per_million', 'hosp_patients_per_million', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
                         'total_boosters_per_hundred', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'female_smokers', 'male_smokers', 'human_development_index',
                         'population'
                        ]]

covid19_data.head()

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,total_boosters_per_hundred,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,female_smokers,male_smokers,human_development_index,population
0,AFG,Afghanistan,2020-01-03,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
1,AFG,Afghanistan,2020-01-04,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
2,AFG,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
3,AFG,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
4,AFG,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0

In [5]:
covid19_data

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,total_boosters_per_hundred,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,female_smokers,male_smokers,human_development_index,population
0,AFG,Afghanistan,2020-01-03,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
1,AFG,Afghanistan,2020-01-04,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
2,AFG,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
3,AFG,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
4,AFG,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336073,ZWE,Zimbabwe,2023-08-19,265716.0,0.0,5713.0,0.0,16281.08,0.0,350.05,...,NaN,42.729,19.6,2.822,1.882,1899.775,1.6,30.7,0.571,16320539.0
336074,ZWE,Zimbabwe,2023-08-20,265716.0,0.0,5713.0,0.0,16281.08,0.0,350.05,...,NaN,42.729,19.6,2.822,1.882,1899.775,1.6,30.7,0.571,16320539.0
336075,ZWE,Zimbabwe,2023-08-21,265716.0,0.0,5713.0,0.0,16281.08,0.0,350.05,...,NaN,42.729,19.6,2.822,1.882,1899.775,1.6,30.7,0.571,16320539.0
336076,ZWE,Zimbabwe,2023-08-22,265716.0,0.0,5713.0,0.0,16281.08,0.0,350.05,...,NaN,42.729,19.6,2.822,1.882,1899.775,1.6,30.7,0.571,16320539.0
336077,ZWE,Zimbabwe,2023-08-23,265716.0,0.0,5713.0,0.0,16281.08,0.0,350.05,...,NaN,42.729,19.6,2.822,1.882,1899.775,1.6,30.7,0.571,16320539.0

In [6]:
# Rename the columns using the .rename() method
new_column_names = {
    'location': 'Location',
    'iso_code': 'ISO_Code',
    'date' : 'Date',
    'total_cases': 'Total_Cases',
    'new_cases': 'New_Cases',
    'total_deaths': 'Total_Deaths',
    'new_deaths': 'New_Deaths',
    'total_cases_per_million': 'Total_Cases_PerMillion',
    'new_cases_per_million': 'New_Cases_PerMillion',
    'total_deaths_per_million': 'Total_Deaths_PerMillion',
    'new_deaths_per_million': 'New_Deaths_PerMillion',
    'icu_patients_per_million': 'ICU_Patients_PerMillion',
    'hosp_patients_per_million': 'Hospital_Patients_PerMillion',
    'total_vaccinations_per_hundred': 'Total_Vaccinations_PerHundred',
    'people_vaccinated_per_hundred': 'People_Vaccinated_PerHundred',
    'people_fully_vaccinated_per_hundred': 'People_Fully_Vaccinated_PerHundred',
    'total_boosters_per_hundred': 'Total_Boosters_PerHundred',
    'population_density': 'Population_Density'
}

covid19_data = covid19_data.rename(columns=new_column_names)
covid19_data.head()

,ISO_Code,Location,Date,Total_Cases,New_Cases,Total_Deaths,New_Deaths,Total_Cases_PerMillion,New_Cases_PerMillion,Total_Deaths_PerMillion,...,Total_Boosters_PerHundred,Population_Density,median_age,aged_65_older,aged_70_older,gdp_per_capita,female_smokers,male_smokers,human_development_index,population
0,AFG,Afghanistan,2020-01-03,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
1,AFG,Afghanistan,2020-01-04,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
2,AFG,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
3,AFG,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
4,AFG,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0

In [7]:
covid19_data['Date'] = pd.to_datetime(covid19_data['Date'])
covid19_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336078 entries, 0 to 336077
Data columns (total 26 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   ISO_Code                            336078 non-null  object
 1   Location                            336078 non-null  object
 2   Date                                336078 non-null  datetime64[ns]
 3   Total_Cases                         298424 non-null  float64
 4   New_Cases                           326839 non-null  float64
 5   Total_Deaths                        277172 non-null  float64
 6   New_Deaths                          326894 non-null  float64
 7   Total_Cases_PerMillion              298424 non-null  float64
 8   New_Cases_PerMillion                326839 non-null  float64
 9   Total_Deaths_PerMillion             277172 non-null  float64
 10  New_Deaths_PerMillion               326894 non-null  float64
 11  ICU_Patients_PerMillion             37235 non-null   float64
 12  Hospital_Patients_PerMillion        38295 non-null   float64
 13  Total_Vaccinations_PerHundred       78102 non-null   float64
 14  People_Vaccinated_PerHundred        74770 non-null   float64
 15  People_Fully_Vaccinated_PerHundred  71353 non-null   float64
 16  Total_Boosters_PerHundred           46446 non-null   float64
 17  Population_Density                  285221 non-null  float64
 18  median_age                          265271 non-null  float64
 19  aged_65_older                       255983 non-null  float64
 20  aged_70_older                       262613 non-null  float64
 21  gdp_per_capita                      259968 non-null  float64
 22  female_smokers                      195414 non-null  float64
 23  male_smokers                        192756 non-null  float64
 24  human_development_index             252529 non-null  float64
 25  population                          336078 non-null  float64
dtypes: datetime64[ns](1), float64(23), object(2)
memory usage: 66.7+ MB

In [8]:
def process_covid19_data(covid19_data, country):
    # Apply filter for rows where 'location' is in the list_of_countries
    filtered_covid19_data = covid19_data[covid19_data['Location'].isin(country)]
    
    # Group by 'date' column and aggregate the specified columns
    grouped = filtered_covid19_data.groupby(filtered_covid19_data['Date'].dt.strftime('%Y-%m')).agg({
        'Total_Cases': 'sum',
        'New_Cases': 'sum',
        'Total_Deaths': 'sum',
        'New_Deaths': 'sum',
        'Total_Cases_PerMillion': 'sum',
        'New_Cases_PerMillion': 'sum',
        'Total_Deaths_PerMillion': 'sum',
        'New_Deaths_PerMillion': 'sum',
        'ICU_Patients_PerMillion': 'sum',
        'Hospital_Patients_PerMillion': 'sum',
        'Total_Vaccinations_PerHundred': 'sum',
        'People_Vaccinated_PerHundred': 'sum',
        'People_Fully_Vaccinated_PerHundred': 'sum',
        'Total_Boosters_PerHundred': 'sum'
    })
    
    # Move the index to a new column ('Month-Year')
    grouped.reset_index(drop=False, inplace=True)
    
    return grouped

# Assuming you have a DataFrame named 'covid19_data'
# and a list of countries you want to filter by
country = ['Australia']  # Note the use of square brackets to define a list

# to create a filtered data for another country dataframe, just change Australia to Zimbabwe for example
# in the country = ['Zimbabwe']
# Zimbabwe_grouped_data = process_covid19_data(covid19_data, country)
# Zimbabwe_grouped_data.head()
Australia_grouped_data = process_covid19_data(covid19_data, country)
Australia_grouped_data.head()

,Date,Total_Cases,New_Cases,Total_Deaths,New_Deaths,Total_Cases_PerMillion,New_Cases_PerMillion,Total_Deaths_PerMillion,New_Deaths_PerMillion,ICU_Patients_PerMillion,Hospital_Patients_PerMillion,Total_Vaccinations_PerHundred,People_Vaccinated_PerHundred,People_Fully_Vaccinated_PerHundred,Total_Boosters_PerHundred
0,2020-01,35.0,9.0,0.0,0.0,1.337,0.343,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0
1,2020-02,478.0,16.0,0.0,0.0,18.259,0.610,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0
2,2020-03,31988.0,4334.0,231.0,21.0,1221.969,165.562,8.824,0.800,3.132,16.274,0.0,0.0,0.0,0.0
3,2020-04,186937.0,2387.0,1895.0,74.0,7141.157,91.184,72.391,2.824,73.689,258.241,0.0,0.0,0.0,0.0
4,2020-05,216814.0,439.0,3204.0,12.0,8282.483,16.769,122.391,0.457,16.349,53.098,0.0,0.0,0.0,0.0

In [59]:
# Export the DataFrame to a CSV file
Australia_grouped_data.to_csv('Australia_grouped_data.csv', index=True)

In [60]:
Australia_grouped_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Date                             44 non-null     object
 1   totalCases                       44 non-null     float64
 2   newCases                         44 non-null     float64
 3   totalDeaths                      44 non-null     float64
 4   newDeaths                        44 non-null     float64
 5   totalCasesPerMillion             44 non-null     float64
 6   newCasesPerMillion               44 non-null     float64
 7   totalDeathsPerMillion            44 non-null     float64
 8   newDeathsPerMillion              44 non-null     float64
 9   icuPatientsPerMillion            44 non-null     float64
 10  hospitalPatientsPerMillion       44 non-null     float64
 11  totalVaccinationsPerHundred      44 non-null     float64
 12  peopleVaccinatedPerHundred       44 non-null     float64
 13  peopleFullyVaccinatedPerHundred  44 non-null     float64
 14  totalBoostersPerHundred          44 non-null     float64
 15  populationDensity                44 non-null     float64
 16  medianAge                        44 non-null     float64
 17  aged65Older                      44 non-null     float64
 18  aged70Older                      44 non-null     float64
 19  gdpPerCapita                     44 non-null     float64
 20  femaleSmokers                    44 non-null     float64
 21  maleSmokers                      44 non-null     float64
 22  humanDevelopmentIndex            44 non-null     float64
 23  Population                       44 non-null     float64
dtypes: float64(23), object(1)
memory usage: 8.4+ KB

In [ ]:
## How to add the Column GDPNew and PopulationNew to the dataframe

In [10]:
# Function to map year to population.  This is Hardwiring the numbers.
def map_year_to_population(date_str):
    year = int(date_str.split('-')[0])
    if year == 2020:
        return 25655289
    elif year == 2021:
        return 25688079
    elif year == 2022:
        return 25978935
    else:
        return None  # You can specify a default value or handle other cases as needed

# Apply the mapping function to create a new "Population" column
Australia_grouped_data['Population'] = Australia_grouped_data['Date'].apply(map_year_to_population)

# Display the DataFrame
Australia_grouped_data.head()

,Date,totalCases,newCases,totalDeaths,newDeaths,totalCasesPerMillion,newCasesPerMillion,totalDeathsPerMillion,newDeathsPerMillion,icuPatientsPerMillion,...,totalBoostersPerHundred,populationDensity,medianAge,aged65Older,aged70Older,gdpPerCapita,femaleSmokers,maleSmokers,humanDevelopmentIndex,Population
0,2020-01,35.0,9.0,0.0,0.0,1.337,0.343,0.000,0.000,0.000,...,0.0,3.202,37.9,449.616,293.741,44648.71,377.0,478.5,0.944,25655289.0
1,2020-02,478.0,16.0,0.0,0.0,18.259,0.610,0.000,0.000,0.000,...,0.0,3.202,37.9,449.616,293.741,44648.71,377.0,478.5,0.944,25655289.0
2,2020-03,31988.0,4334.0,231.0,21.0,1221.969,165.562,8.824,0.800,3.132,...,0.0,3.202,37.9,480.624,313.999,44648.71,403.0,511.5,0.944,25655289.0
3,2020-04,186937.0,2387.0,1895.0,74.0,7141.157,91.184,72.391,2.824,73.689,...,0.0,3.202,37.9,465.120,303.870,44648.71,390.0,495.0,0.944,25655289.0
4,2020-05,216814.0,439.0,3204.0,12.0,8282.483,16.769,122.391,0.457,16.349,...,0.0,3.202,37.9,480.624,313.999,44648.71,403.0,511.5,0.944,25655289.0

In [11]:
# Function to map year to population.  This is Hardwiring the numbers.
def map_value_to_gdp(date_str):
    year = int(date_str.split('-')[0])
    if year == 2020:
        return 1326944627876.87
    elif year == 2021:
        return 1552703151616.01
    elif year == 2022:
        return 1675418665067.09
    else:
        return None  # You can specify a default value or handle other cases as needed

# Apply the mapping function to create a new "Population" column
Australia_grouped_data['gDPNew'] = Australia_grouped_data['Date'].apply(map_value_to_gdp)

# Display the DataFrame
Australia_grouped_data.head()

,Date,totalCases,newCases,totalDeaths,newDeaths,totalCasesPerMillion,newCasesPerMillion,totalDeathsPerMillion,newDeathsPerMillion,icuPatientsPerMillion,...,populationDensity,medianAge,aged65Older,aged70Older,gdpPerCapita,femaleSmokers,maleSmokers,humanDevelopmentIndex,Population,gDPNew
0,2020-01,35.0,9.0,0.0,0.0,1.337,0.343,0.000,0.000,0.000,...,3.202,37.9,449.616,293.741,44648.71,377.0,478.5,0.944,25655289.0,1.326945e+12
1,2020-02,478.0,16.0,0.0,0.0,18.259,0.610,0.000,0.000,0.000,...,3.202,37.9,449.616,293.741,44648.71,377.0,478.5,0.944,25655289.0,1.326945e+12
2,2020-03,31988.0,4334.0,231.0,21.0,1221.969,165.562,8.824,0.800,3.132,...,3.202,37.9,480.624,313.999,44648.71,403.0,511.5,0.944,25655289.0,1.326945e+12
3,2020-04,186937.0,2387.0,1895.0,74.0,7141.157,91.184,72.391,2.824,73.689,...,3.202,37.9,465.120,303.870,44648.71,390.0,495.0,0.944,25655289.0,1.326945e+12
4,2020-05,216814.0,439.0,3204.0,12.0,8282.483,16.769,122.391,0.457,16.349,...,3.202,37.9,480.624,313.999,44648.71,403.0,511.5,0.944,25655289.0,1.326945e+12

In [61]:
# Data from World Bank API query
GDP_Data= [{'Year': '2020', 'GDP': 1326944627876.87},
           {'Year': '2021', 'GDP': 1552703151616.01},
           {'Year': '2022', 'GDP': 1675418665067.09}]

In [62]:
# Data from World Bank API
PopulationData = [{'Date': '2020', 'Population Total': 25655289},
                  {'Date': '2021', 'Population Total': 25688079},
                  {'Date': '2022', 'Population Total': 25978935}]

In [44]:
PopulationData[0]["Date"]

'2020'

In [45]:
PopulationData[1]["Population Total"]

25688079

In [47]:
Year1 = GDP_Data[0]["Year"]
GDP1 = GDP_Data[0]["GDP"]

# Convert to integer
numeric_value = pd.to_numeric(GDP_Data[0]["Year"], errors='coerce')
numeric_value

2020

In [42]:
Year2 = GDP_Data[1]["Year"]
GDP2 = GDP_Data[1]["GDP"]

In [43]:
Year3 = GDP_Data[2]["Year"]
GDP3 = GDP_Data[2]["GDP"]

In [63]:
# Function to map year to population.  This is automating it.
def map_year_to_population(date_str):
    year = int(date_str.split('-')[0])
    if year == pd.to_numeric(PopulationData[0]["Date"], errors='coerce'):
        return PopulationData[0]["Population Total"]
    elif year == pd.to_numeric(PopulationData[1]["Date"], errors='coerce'):
        return PopulationData[1]["Population Total"]
    elif year == pd.to_numeric(PopulationData[1]["Date"], errors='coerce'):
        return PopulationData[2]["Population Total"]
    else:
        return None  # You can specify a default value or handle other cases as needed

# Apply the mapping function to create a new "Population" column
Australia_grouped_data['PopulationNew'] = Australia_grouped_data['Date'].apply(map_year_to_population)

# Display the DataFrame
Australia_grouped_data.head()

,Date,totalCases,newCases,totalDeaths,newDeaths,totalCasesPerMillion,newCasesPerMillion,totalDeathsPerMillion,newDeathsPerMillion,icuPatientsPerMillion,...,populationDensity,medianAge,aged65Older,aged70Older,gdpPerCapita,femaleSmokers,maleSmokers,humanDevelopmentIndex,Population,PopulationNew
0,2020-01,35.0,9.0,0.0,0.0,1.337,0.343,0.000,0.000,0.000,...,3.202,37.9,15.504,10.129,44648.71,13.0,16.5,0.944,26177410.0,25655289.0
1,2020-02,478.0,16.0,0.0,0.0,18.259,0.610,0.000,0.000,0.000,...,3.202,37.9,15.504,10.129,44648.71,13.0,16.5,0.944,26177410.0,25655289.0
2,2020-03,31988.0,4334.0,231.0,21.0,1221.969,165.562,8.824,0.800,3.132,...,3.202,37.9,15.504,10.129,44648.71,13.0,16.5,0.944,26177410.0,25655289.0
3,2020-04,186937.0,2387.0,1895.0,74.0,7141.157,91.184,72.391,2.824,73.689,...,3.202,37.9,15.504,10.129,44648.71,13.0,16.5,0.944,26177410.0,25655289.0
4,2020-05,216814.0,439.0,3204.0,12.0,8282.483,16.769,122.391,0.457,16.349,...,3.202,37.9,15.504,10.129,44648.71,13.0,16.5,0.944,26177410.0,25655289.0

In [64]:
# Function to map year to population.  THis is automating it.
def map_value_to_gdp(date_str):
    year = int(date_str.split('-')[0])
    if year == pd.to_numeric(GDP_Data[0]["Year"], errors='coerce'):
        return GDP_Data[0]["GDP"]
    elif year == pd.to_numeric(GDP_Data[0]["Year"], errors='coerce'):
        return GDP_Data[1]["GDP"]
    elif year == pd.to_numeric(GDP_Data[0]["Year"], errors='coerce'):
        return GDP_Data[2]["GDP"]
    else:
        return None  # You can specify a default value or handle other cases as needed

# Apply the mapping function to create a new "Population" column
Australia_grouped_data['gDPNew'] = Australia_grouped_data['Date'].apply(map_value_to_gdp)

# Display the DataFrame
Australia_grouped_data.head()

,Date,totalCases,newCases,totalDeaths,newDeaths,totalCasesPerMillion,newCasesPerMillion,totalDeathsPerMillion,newDeathsPerMillion,icuPatientsPerMillion,...,medianAge,aged65Older,aged70Older,gdpPerCapita,femaleSmokers,maleSmokers,humanDevelopmentIndex,Population,PopulationNew,gDPNew
0,2020-01,35.0,9.0,0.0,0.0,1.337,0.343,0.000,0.000,0.000,...,37.9,15.504,10.129,44648.71,13.0,16.5,0.944,26177410.0,25655289.0,1.326945e+12
1,2020-02,478.0,16.0,0.0,0.0,18.259,0.610,0.000,0.000,0.000,...,37.9,15.504,10.129,44648.71,13.0,16.5,0.944,26177410.0,25655289.0,1.326945e+12
2,2020-03,31988.0,4334.0,231.0,21.0,1221.969,165.562,8.824,0.800,3.132,...,37.9,15.504,10.129,44648.71,13.0,16.5,0.944,26177410.0,25655289.0,1.326945e+12
3,2020-04,186937.0,2387.0,1895.0,74.0,7141.157,91.184,72.391,2.824,73.689,...,37.9,15.504,10.129,44648.71,13.0,16.5,0.944,26177410.0,25655289.0,1.326945e+12
4,2020-05,216814.0,439.0,3204.0,12.0,8282.483,16.769,122.391,0.457,16.349,...,37.9,15.504,10.129,44648.71,13.0,16.5,0.944,26177410.0,25655289.0,1.326945e+12

In [11]:
def process_covid19_data(covid19_data, list_of_countries):
    # Apply filter for rows where 'location' is in the list_of_countries
    filtered_covid19_data = covid19_data[covid19_data['Location'].isin(list_of_countries)]
    
    # Group by 'date' column and aggregate the specified columns
    grouped = filtered_covid19_data.groupby(filtered_covid19_data['Date'].dt.strftime('%Y-%m')).agg({
        'Total_Cases': 'sum',
        'New_Cases': 'sum',
        'Total_Deaths': 'sum',
        'New_Deaths': 'sum',
        'Total_Cases_PerMillion': 'sum',
        'New_Cases_PerMillion': 'sum',
        'Total_Deaths_PerMillion': 'sum',
        'New_Deaths_PerMillion': 'sum',
        'ICU_Patients_PerMillion': 'sum',
        'Hospital_Patients_PerMillion': 'sum',
        'Total_Vaccinations_PerHundred': 'sum',
        'People_Vaccinated_PerHundred': 'sum',
        'People_Fully_Vaccinated_PerHundred': 'sum',
        'Total_Boosters_PerHundred': 'sum'
    })
    
    # Move the index to a new column ('Month-Year')
    grouped.reset_index(drop=False, inplace=True)
    
    return grouped

# Assuming you have a DataFrame named 'covid19_data'
# and a list of countries you want to filter by
list_of_countries = ['Australia', 'Spain', 'China']

# Create an empty list to store the processed DataFrames
processed_dataframes = []

for country in list_of_countries:
    country_grouped_data = process_covid19_data(covid19_data, [country])
    processed_dataframes.append(country_grouped_data)

# Now, processed_dataframes contains the aggregated COVID-19 data for each country in the list
# You can access each country's data like this:
for idx, country_df in enumerate(processed_dataframes):
    print("Data for", list_of_countries[idx])
    print(country_df.head())
country_df.head()

Data for Australia
      Date  Total_Cases  New_Cases  Total_Deaths  New_Deaths  \
0  2020-01         35.0        9.0           0.0         0.0
1  2020-02        478.0       16.0           0.0         0.0
2  2020-03      31988.0     4334.0         231.0        21.0
3  2020-04     186937.0     2387.0        1895.0        74.0
4  2020-05     216814.0      439.0        3204.0        12.0

   Total_Cases_PerMillion  New_Cases_PerMillion  Total_Deaths_PerMillion  \
0                   1.337                 0.343                    0.000
1                  18.259                 0.610                    0.000
2                1221.969               165.562                    8.824
3                7141.157                91.184                   72.391
4                8282.483                16.769                  122.391

   New_Deaths_PerMillion  ICU_Patients_PerMillion  \
0                  0.000                    0.000
1                  0.000                    0.000
2                  0.800                    3.132
3                  2.824                   73.689
4                  0.457                   16.349

   Hospital_Patients_PerMillion  Total_Vaccinations_PerHundred  \
0                         0.000                            0.0
1                         0.000                            0.0
2                        16.274                            0.0
3                       258.241                            0.0
4                        53.098                            0.0

   People_Vaccinated_PerHundred  People_Fully_Vaccinated_PerHundred  \
0                           0.0                                 0.0
1                           0.0                                 0.0
2                           0.0                                 0.0
3                           0.0                                 0.0
4                           0.0                                 0.0

   Total_Boosters_PerHundred
0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0
Data for Spain
      Date  Total_Cases  New_Cases  Total_Deaths  New_Deaths  \
0  2020-01         32.0        3.0           0.0         0.0
1  2020-02        297.0       16.0          14.0         1.0
2  2020-03     777483.0   108845.0       49685.0      8576.0
3  2020-04    5329383.0   110812.0      554572.0     16569.0
4  2020-05    7288495.0    27333.0      861157.0      4022.0

   Total_Cases_PerMillion  New_Cases_PerMillion  Total_Deaths_PerMillion  \
0                   0.672                 0.063                    0.000
1                   6.244                 0.336                    0.294
2               16347.881              2288.649                 1044.716
3              112059.221              2330.009                11660.811
4              153252.824               574.722                18107.270

   New_Deaths_PerMillion  ICU_Patients_PerMillion  \
0                  0.000                      0.0
1                  0.021                      0.0
2                180.325                      0.0
3                348.391                      0.0
4                 84.569                      0.0

   Hospital_Patients_PerMillion  Total_Vaccinations_PerHundred  \
0                           0.0                            0.0
1                           0.0                            0.0
2                           0.0                            0.0
3                           0.0                            0.0
4                           0.0                            0.0

   People_Vaccinated_PerHundred  People_Fully_Vaccinated_PerHundred  \
0                           0.0                                 0.0
1                           0.0                                 0.0
2                           0.0                                 0.0
3                           0.0                                 0.0
4                           0.0                                 0.0

   Total_Boosters_PerHundred
0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0
Data for China
      Date  Total_Cases  New_Cases  Total_Deaths  New_Deaths  \
0  2020-01      36851.0     9720.0         911.0       213.0
1  2020-02    1597399.0    69669.0       46431.0      2625.0
2  2020-03    2518213.0     3156.0       98525.0       476.0
3  2020-04    2511120.0     1828.0      117169.0      1329.0
4  2020-05    2618725.0      197.0      143968.0         2.0

   Total_Cases_PerMillion  New_Cases_PerMillion  Total_Deaths_PerMillion  \
0                  25.849                 6.818                    0.639
1                1120.285                48.859                   32.563
2                1766.065                 2.213                   69.097
3                1761.092                 1.282                   82.176
4                1836.556                 0.139                  100.971

   New_Deaths_PerMillion  ICU_Patients_PerMillion  \
0                  0.150                      0.0
1                  1.841                      0.0
2                  0.335                      0.0
3                  0.932                      0.0
4                  0.002                      0.0

   Hospital_Patients_PerMillion  Total_Vaccinations_PerHundred  \
0                           0.0                            0.0
1                           0.0                            0.0
2                           0.0                            0.0
3                           0.0                            0.0
4                           0.0                            0.0

   People_Vaccinated_PerHundred  People_Fully_Vaccinated_PerHundred  \
0                           0.0                                 0.0
1                           0.0                                 0.0
2                           0.0                                 0.0
3                           0.0                                 0.0
4                           0.0                                 0.0

   Total_Boosters_PerHundred
0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0

,Date,Total_Cases,New_Cases,Total_Deaths,New_Deaths,Total_Cases_PerMillion,New_Cases_PerMillion,Total_Deaths_PerMillion,New_Deaths_PerMillion,ICU_Patients_PerMillion,Hospital_Patients_PerMillion,Total_Vaccinations_PerHundred,People_Vaccinated_PerHundred,People_Fully_Vaccinated_PerHundred,Total_Boosters_PerHundred
0,2020-01,36851.0,9720.0,911.0,213.0,25.849,6.818,0.639,0.150,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-02,1597399.0,69669.0,46431.0,2625.0,1120.285,48.859,32.563,1.841,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-03,2518213.0,3156.0,98525.0,476.0,1766.065,2.213,69.097,0.335,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-04,2511120.0,1828.0,117169.0,1329.0,1761.092,1.282,82.176,0.932,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-05,2618725.0,197.0,143968.0,2.0,1836.556,0.139,100.971,0.002,0.0,0.0,0.0,0.0,0.0,0.0