In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd

# Replace '../Folder1/your_file.csv' with the actual path to your CSV file
data = pd.read_csv('Data_Files/owid-covid-data.csv')

# Display the first few rows of the DataFrame
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336078 entries, 0 to 336077
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    336078 non-null  object
 1   continent                                   320099 non-null  object
 2   location                                    336078 non-null  object
 3   date                                        336078 non-null  object
 4   total_cases                                 298424 non-null  float64
 5   new_cases                                   326839 non-null  float64
 6   new_cases_smoothed                          325576 non-null  float64
 7   total_deaths                                277172 non-null  float64
 8   new_deaths                                  326894 non-null  float64
 9   new_deaths_smoothed                         325664 non-null  float64
 10  total_cases_per_million                     298424 non-null  float64
 11  new_cases_per_million                       326839 non-null  float64
 12  new_cases_smoothed_per_million              325576 non-null  float64
 13  total_deaths_per_million                    277172 non-null  float64
 14  new_deaths_per_million                      326894 non-null  float64
 15  new_deaths_smoothed_per_million             325664 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                37235 non-null   float64
 18  icu_patients_per_million                    37235 non-null   float64
 19  hosp_patients                               38295 non-null   float64
 20  hosp_patients_per_million                   38295 non-null   float64
 21  weekly_icu_admissions                       10002 non-null   float64
 22  weekly_icu_admissions_per_million           10002 non-null   float64
 23  weekly_hosp_admissions                      22826 non-null   float64
 24  weekly_hosp_admissions_per_million          22826 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          78102 non-null   float64
 35  people_vaccinated                           74770 non-null   float64
 36  people_fully_vaccinated                     71353 non-null   float64
 37  total_boosters                              46446 non-null   float64
 38  new_vaccinations                            64271 non-null   float64
 39  new_vaccinations_smoothed                   177074 non-null  float64
 40  total_vaccinations_per_hundred              78102 non-null   float64
 41  people_vaccinated_per_hundred               74770 non-null   float64
 42  people_fully_vaccinated_per_hundred         71353 non-null   float64
 43  total_boosters_per_hundred                  46446 non-null   float64
 44  new_vaccinations_smoothed_per_million       177074 non-null  float64
 45  new_people_vaccinated_smoothed              176828 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  176828 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          285221 non-null  float64
 49  median_age                                  265271 non-null  float64
 50  aged_65_older                               255983 non-null  float64
 51  aged_70_older                               262613 non-null  float64
 52  gdp_per_capita                              259968 non-null  float64
 53  extreme_poverty                             167494 non-null  float64
 54  cardiovasc_death_rate                       260519 non-null  float64
 55  diabetes_prevalence                         273794 non-null  float64
 56  female_smokers                              195414 non-null  float64
 57  male_smokers                                192756 non-null  float64
 58  handwashing_facilities                      127604 non-null  float64
 59  hospital_beds_per_thousand                  229968 non-null  float64
 60  life_expectancy                             309128 non-null  float64
 61  human_development_index                     252529 non-null  float64
 62  population                                  336078 non-null  float64
 63  excess_mortality_cumulative_absolute        11656 non-null   float64
 64  excess_mortality_cumulative                 11656 non-null   float64
 65  excess_mortality                            11656 non-null   float64
 66  excess_mortality_cumulative_per_million     11656 non-null   float64
dtypes: float64(62), object(5)
memory usage: 171.8+ MB

In [3]:
# Assume 'data' is your DataFrame
covid19_data = data[['location', 'date', 'total_cases',
                        'new_cases', 'total_deaths', 'new_deaths', 'total_cases_per_million', 'new_cases_per_million', 'total_deaths_per_million', 'new_deaths_per_million',
                         'icu_patients_per_million', 'hosp_patients_per_million', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
                         'total_boosters_per_hundred', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'female_smokers', 'male_smokers', 'human_development_index',
                         'population'
                        ]]

covid19_data.head()

,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,...,total_boosters_per_hundred,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,female_smokers,male_smokers,human_development_index,population
0,Afghanistan,2020-01-03,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
1,Afghanistan,2020-01-04,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
2,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
3,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
4,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0

In [4]:
covid19_data

,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,...,total_boosters_per_hundred,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,female_smokers,male_smokers,human_development_index,population
0,Afghanistan,2020-01-03,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
1,Afghanistan,2020-01-04,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
2,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
3,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
4,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,0.511,41128772.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336073,Zimbabwe,2023-08-19,265716.0,0.0,5713.0,0.0,16281.08,0.0,350.05,0.0,...,NaN,42.729,19.6,2.822,1.882,1899.775,1.6,30.7,0.571,16320539.0
336074,Zimbabwe,2023-08-20,265716.0,0.0,5713.0,0.0,16281.08,0.0,350.05,0.0,...,NaN,42.729,19.6,2.822,1.882,1899.775,1.6,30.7,0.571,16320539.0
336075,Zimbabwe,2023-08-21,265716.0,0.0,5713.0,0.0,16281.08,0.0,350.05,0.0,...,NaN,42.729,19.6,2.822,1.882,1899.775,1.6,30.7,0.571,16320539.0
336076,Zimbabwe,2023-08-22,265716.0,0.0,5713.0,0.0,16281.08,0.0,350.05,0.0,...,NaN,42.729,19.6,2.822,1.882,1899.775,1.6,30.7,0.571,16320539.0
336077,Zimbabwe,2023-08-23,265716.0,0.0,5713.0,0.0,16281.08,0.0,350.05,0.0,...,NaN,42.729,19.6,2.822,1.882,1899.775,1.6,30.7,0.571,16320539.0

In [5]:
covid19_data['date'] = pd.to_datetime(covid19_data['date'])
covid19_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336078 entries, 0 to 336077
Data columns (total 25 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   location                             336078 non-null  object
 1   date                                 336078 non-null  datetime64[ns]
 2   total_cases                          298424 non-null  float64
 3   new_cases                            326839 non-null  float64
 4   total_deaths                         277172 non-null  float64
 5   new_deaths                           326894 non-null  float64
 6   total_cases_per_million              298424 non-null  float64
 7   new_cases_per_million                326839 non-null  float64
 8   total_deaths_per_million             277172 non-null  float64
 9   new_deaths_per_million               326894 non-null  float64
 10  icu_patients_per_million             37235 non-null   float64
 11  hosp_patients_per_million            38295 non-null   float64
 12  total_vaccinations_per_hundred       78102 non-null   float64
 13  people_vaccinated_per_hundred        74770 non-null   float64
 14  people_fully_vaccinated_per_hundred  71353 non-null   float64
 15  total_boosters_per_hundred           46446 non-null   float64
 16  population_density                   285221 non-null  float64
 17  median_age                           265271 non-null  float64
 18  aged_65_older                        255983 non-null  float64
 19  aged_70_older                        262613 non-null  float64
 20  gdp_per_capita                       259968 non-null  float64
 21  female_smokers                       195414 non-null  float64
 22  male_smokers                         192756 non-null  float64
 23  human_development_index              252529 non-null  float64
 24  population                           336078 non-null  float64
dtypes: datetime64[ns](1), float64(23), object(1)
memory usage: 64.1+ MB

In [6]:
covid19_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336078 entries, 0 to 336077
Data columns (total 25 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   location                             336078 non-null  object
 1   date                                 336078 non-null  datetime64[ns]
 2   total_cases                          298424 non-null  float64
 3   new_cases                            326839 non-null  float64
 4   total_deaths                         277172 non-null  float64
 5   new_deaths                           326894 non-null  float64
 6   total_cases_per_million              298424 non-null  float64
 7   new_cases_per_million                326839 non-null  float64
 8   total_deaths_per_million             277172 non-null  float64
 9   new_deaths_per_million               326894 non-null  float64
 10  icu_patients_per_million             37235 non-null   float64
 11  hosp_patients_per_million            38295 non-null   float64
 12  total_vaccinations_per_hundred       78102 non-null   float64
 13  people_vaccinated_per_hundred        74770 non-null   float64
 14  people_fully_vaccinated_per_hundred  71353 non-null   float64
 15  total_boosters_per_hundred           46446 non-null   float64
 16  population_density                   285221 non-null  float64
 17  median_age                           265271 non-null  float64
 18  aged_65_older                        255983 non-null  float64
 19  aged_70_older                        262613 non-null  float64
 20  gdp_per_capita                       259968 non-null  float64
 21  female_smokers                       195414 non-null  float64
 22  male_smokers                         192756 non-null  float64
 23  human_development_index              252529 non-null  float64
 24  population                           336078 non-null  float64
dtypes: datetime64[ns](1), float64(23), object(1)
memory usage: 64.1+ MB

In [7]:
list_of_countries = ('Australia')

# Apply filter for rows where 'ColumnA' is "Type"
filtered_covid19_data = covid19_data[covid19_data['location'] == list_of_countries]

filtered_covid19_data.head()

,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,...,total_boosters_per_hundred,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,female_smokers,male_smokers,human_development_index,population
17288,Australia,2020-01-03,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,3.202,37.9,15.504,10.129,44648.71,13.0,16.5,0.944,26177410.0
17289,Australia,2020-01-04,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,3.202,37.9,15.504,10.129,44648.71,13.0,16.5,0.944,26177410.0
17290,Australia,2020-01-05,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,3.202,37.9,15.504,10.129,44648.71,13.0,16.5,0.944,26177410.0
17291,Australia,2020-01-06,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,3.202,37.9,15.504,10.129,44648.71,13.0,16.5,0.944,26177410.0
17292,Australia,2020-01-07,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,3.202,37.9,15.504,10.129,44648.71,13.0,16.5,0.944,26177410.0

In [8]:
grouped = filtered_covid19_data.groupby(filtered_covid19_data['date'].dt.strftime('%Y-%m')).agg({
        'total_cases': 'sum',
        'new_cases': 'sum',
        'total_deaths': 'sum',
        'new_deaths': 'sum',
        'total_cases_per_million': 'sum',
        'new_cases_per_million': 'sum',
        'total_deaths_per_million': 'sum',
        'new_deaths_per_million': 'sum',
        'icu_patients_per_million': 'sum',
        'hosp_patients_per_million': 'sum',
        'total_vaccinations_per_hundred': 'sum',
        'people_vaccinated_per_hundred': 'sum',
        'people_fully_vaccinated_per_hundred': 'sum',
        'total_boosters_per_hundred': 'sum',
        'population_density': 'mean',
        'median_age': 'mean',
        'aged_65_older': 'sum',
        'aged_70_older': 'sum',
        'gdp_per_capita': 'mean',
        'female_smokers': 'sum',
        'human_development_index': 'mean',
        'population': 'mean'
    
})
grouped.head()

,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,icu_patients_per_million,hosp_patients_per_million,...,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,female_smokers,human_development_index,population
date,,,,,,,,,,,,,,,,,,,,,
2020-01,35.0,9.0,0.0,0.0,1.337,0.343,0.000,0.000,0.000,0.000,...,0.0,0.0,3.202,37.9,449.616,293.741,44648.71,377.0,0.944,26177410.0
2020-02,478.0,16.0,0.0,0.0,18.259,0.610,0.000,0.000,0.000,0.000,...,0.0,0.0,3.202,37.9,449.616,293.741,44648.71,377.0,0.944,26177410.0
2020-03,31988.0,4334.0,231.0,21.0,1221.969,165.562,8.824,0.800,3.132,16.274,...,0.0,0.0,3.202,37.9,480.624,313.999,44648.71,403.0,0.944,26177410.0
2020-04,186937.0,2387.0,1895.0,74.0,7141.157,91.184,72.391,2.824,73.689,258.241,...,0.0,0.0,3.202,37.9,465.120,303.870,44648.71,390.0,0.944,26177410.0
2020-05,216814.0,439.0,3204.0,12.0,8282.483,16.769,122.391,0.457,16.349,53.098,...,0.0,0.0,3.202,37.9,480.624,313.999,44648.71,403.0,0.944,26177410.0